*{
  margin: 0;
  padding: 0;
}

.category{
  padding: 20px;
}

.addFilms label{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 10px;
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: flex;
 flex-direction: column;
 flex-wrap: wrap;

}

.sub{
  padding: 10px 20px;
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

