body {
    background-color: #F6FCFF;
    font-family: sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: sans-serif;
}

input:focus,
textarea:focus{
    outline: none;
}

a, nav button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #000;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;

}

a:hover,
nav button:hover{
    color: #bbb;
}